* {
    margin: 0;
    padding: 0;
}

.Grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px;
    margin-left: 300px;
}

/* @media screen and (max-width: 1200px) {
    .text{
        width: 90%;
    }
    
} */

.img{
    grid-area: 1 / 1 / 2 / 2;
   min-width: 600px;
   width: 100%;

}
img{width: 100%;}
.text{
    margin-left: 35px;
    margin-top: 50px;
    grid-area: 1 / 2 / 2 / 3;
}

h1{
    font-family: 'Amiri', serif;
    color: #303030;
    
}

p{
    font-family: 'Maitree', serif;
    color: #303030;
   margin-right: 50%;
   text-align: justify;
   font-weight: bold;
 
}
@media screen and (max-width: 390px) {
    img{
        display: none;
    }
    .text{
        margin: 0;
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }
}



