h1 {
    text-align: center;
}


.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 50px 30px 20px 30px 20px;
    margin: 1%;
    gap: 1%;
}

.image {
    border: 1px solid black;    
    grid-area: 1 / 1 / 2 / 2;
    width: 50%;
}
.titre {
    grid-area: 1 / 2 / 2 / 3;

}

.size {

    grid-area: 4 / 2 / 5 / 3;
}

.add {

    grid-area: 6 / 2 / 7 / 3;
}