h1 {
   display: none;
}

.image_top {
    display: flex;
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}


.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 50px 30px 20px 30px 20px 20px;
    margin: 1%;
    gap: 1%;
}

.image {
    border: 1px solid black;    
    grid-area: 1 / 1 / 2 / 2;
    width: 30%;
}
.titre {
    grid-area: 1 / 2 / 2 / 3;

}

.price {
    grid-area: 3 / 2 / 4 / 3;
    font-size: 2em;
}
.size {

    grid-area: 5 / 2 / 6 / 3;
}

.add {

    grid-area: 7 / 2 / 8 / 3;
}



.descriptionProduit {
    margin-top: 15%;
}