body{
    background-color:white ;
}




main{


    margin-top: 15%;
    margin-right: 21.5%;
    margin-left: 21.5%;
    margin-bottom: 10%;
}


.titre{
    justify-content: center;
    text-align: center;
    margin-top: 15%;
    margin-right: 21.5%;
    margin-left: 21.5%;
}

p {
    justify-content: space-around;
    margin-top: 100px;
    color: blue;
    font-size: 15px;
    font-family:  Maitree light;
}

