body{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}


/* FOOTER*/
footer {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    padding: 50px;
    margin-left: 13%;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    font-family: "Maitree", serif;
  }
  
  footer nav {
    display: inline-block;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 20px;
  }
  
  footer a {
    text-decoration: none;
    color: #333;
  }
  
  footer a:hover {
    color: #007bff;
  }
  
  .effet1:hover {
    transform: scale(0.9);
  }
  .effet2:hover {
    transform: scale(0.9);
  }
  .effet3:hover {
    transform: scale(0.9);
  }


/* Sidebar */
html,
body {
  margin: 0;
  padding: 0;
}

.sidebar img {
  width: 100%;
}

.sidebar ul {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px 20px;
  box-sizing: border-box;
  width: 250px;
  height: 100vh;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  display: block;
  color: #303030;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 35px;
  font-family: "Amiri", serif;
}

.social-logo {
  display: flex;
  padding: 50px;
}

.social-logo svg {
  width: 50%;
}

.social-logo svg:first-child() {
  width: 100%;
}


main{
    margin-top: auto;
    margin-bottom: 8.8%;
    margin-right: 10%;
    margin-left: 21.5%;
    justify-content: space-around;
    margin-top: 100px;
    color: #303030;
    font-size: 18px;
    font-family: 'Maitree', serif;
    line-height: 25px;
    
}

.sous-titre, .titre {
    font-family: 'Amiri', serif;
    text-decoration: underline;
    text-align: center;
    line-height: 30px;
}

.espace{
    line-height: 30px;
    font-size: 19px;
}

.email-link {
  color: rgb(124, 124, 240);
  text-decoration: none;
  position: relative;
}

.email-link:before {
  content: "\f0e0";
  font-family: 'Maitree', serif;
  font-size: 16px;
  margin-right: 5px;
}

.email-link:hover {
  color: #000000;
  text-decoration: none;
}

.email-link:hover:before {
  text-align: center;
  position: absolute;
  top: -10px;
  left: 0;
  right: -4%;
  content: "Contactez-nous";
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}
