@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,400;1,700&display=swap'); /* font-family: 'Amiri', serif; */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap'); /* font-family: 'Italianno', cursive; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* POP UP COOKIES*/


/* .cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: none;
  z-index: 9999;
}

.cookie-banner p {
  margin: 0;
}

#accept-cookies-btn {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
} */

/* #rgpd-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 9999;
}

#rgpd-popup h2 {
  margin-top: 0;
}

#rgpd-popup button {
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

#rgpd-popup a {
  color: #007bff;
  text-decoration: underline;
} */


/* main grid */

body{
  background: #ffffff;
}
a {
  text-decoration: none;
}


main {
  display: flex;
  flex-direction: column;
  align-items: end;
}
main img.image_top{
  /* border-bottom: 2px white solid; */
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  margin-bottom: 100px;
}
.logo-cart {
  position: absolute;
  width: 25px;
  top: 5%; 
  right: 5%; 
  z-index: 1; 
}
main a.encre{
  position: sticky;
  top: 80%;
  display: block;
  width: 4%;
  z-index: 10;
   
}
.up-arrow {
  width:25%;
  
}

.gallery {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px 10px 210px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 400px;
  grid-gap: 20px;
  grid-row-gap: 100px;
  justify-content: center;
}
.profil-card {
  
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border: 3px solid #111;
  transition: transform 0.4s ease-out;
}
.profil-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profil-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #4F5151;
  border-top: 1px solid #999;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.matière {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 10px;
  background-color: #111;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  color: #dab651;
  font-family: 'Amiri', serif;
  text-align: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}

.profil-name {
  font-size: 20px;
  font-weight: 400;
  color: #dab651;
  font-family: 'Amiri', serif;
}

.profil-card:hover .profil-info {
  transform: translate(0);
}

.profil-card:hover .matière {
  transform: translate(0);
}
.profil-card:hover {
  
  transform: scale(0.95);
  box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
}
@media (pointer: coarse) {
  .profil-info {
    transform: translate(0);
  }
  .info-prix {
    transform: translate(0);
  }
  .matière {
    transform: translate(0);
  }
}
@media (max-width: 390px) {
  .gallery {
    padding: 0;
    grid-template-columns: minmax(auto, 100px);
    grid-auto-rows: auto;
    grid-gap: 50px;
  }
  .sidebar {
    display: none;
  }
  .profil-info,
  .image_top,
  .matière {
    display: none;
  }
  .logo-cart{
    top: 2%; 
  right: 2%;
  }
 
}

/* FOOTER*/
footer {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
  font-family: "Maitree", serif;
}

footer nav {
  display: inline-block;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer a:hover {
  color: #007bff;
}
.mon_site{
  font-size: 12px;
}

.effet1:hover {
  transform: scale(0.9);
}
.effet2:hover {
  transform: scale(0.9);
}
.effet3:hover {
  transform: scale(0.9);
}

/* Sidebar */
html, body {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
}

#logo-title {
  font-family: 'Italianno', cursive;
  font-weight: 500;
  font-size: 55px;
  margin-left: 30px;
  color: #fff;
}

#logo-subtitle {
  margin-top: -19px;
  font-family: 'Amiri', serif;
  font-weight: 100;
  margin-left: 30px;
  color: #fff;
}

.sidebar ul {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px 20px;
  box-sizing: border-box;
  width: 300px;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 61%, rgba(80,58,0,1) 100%); 
}

.sidebar ul li {
  list-style: none;
}
.sidebar .nav-links {
  display: block;
  color: #fff;
  padding: 10px 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-size:35px;
  font-family: 'Amiri', serif;
  margin-top: 30px;
}


/* media queries */





